.footer {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background-color: #003366;
  width: 100%;
  color: white;
}
.icons-footer {
  width: 40%;
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: space-around;
}
.icons {
  font-size: 30px;
  cursor: pointer;
}