.footer {
  display: flex;
  align-items: center;
  background-color: rgb(0,51,102);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  min-height: 10vh;
}
.icons-footer {
  width: 40%;
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: space-around;
}
.icons {
  font-size: 30px;
  cursor: pointer;
}