.footer {
  display: flex;
  align-items: center;
  height: auto;
  background-color: rgb(19,28,39);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}
.icons-footer {
  width: 50%;
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: space-between;
}
.icons {
  font-size: 30px;
  cursor: pointer;
}