.pagination{
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.pagination-btn{
  padding: 12px;
  background-color: rgb(0,51,102);
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px dotted rgb(244,116,34);
}
.pagination-btn-input{
  padding: 6px;
  background-color: rgb(0,51,102);
  color: white;
}
.pagination-btn:first-child{
  background-color: rgb(244,116,34);
  color: white;
  border: 1px dotted rgb(0,51,102);
  padding: 10px;
}
.pagination-btn:last-child{
  background-color: rgb(244,116,34);
  color: white;
  border: 1px dotted rgb(0,51,102);
  padding: 10px;
}